<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neoflex</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="static\image 2.png" alt="Neoflex Logo">
            <h1>Neofle<span>x</span></h1>
            <p>NEO APPROVEMENTS</p>
        </div>
        <div class="right">
            <h2>Авторизация</h2>
            <form>
                <input type="text" placeholder="Логин" />
                <input type="password" placeholder="Пароль" />
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>
</body>
</html>